
.icon-down-bold:before { content: '\e800'; } /* '' */
.icon-download:before { content: '\e801'; } /* '' */
.icon-down-hand:before { content: '\e802'; } /* '' */
.icon-right-hand:before { content: '\e803'; } /* '' */
.icon-left-hand:before { content: '\e804'; } /* '' */
.icon-gplus:before { content: '\e805'; } /* '' */
.icon-gmail:before { content: '\e806'; } /* '' */
.icon-right-big:before { content: '\e807'; } /* '' */
.icon-left-big:before { content: '\e808'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */